li {
	width: 100px;
	height: 100px;
	background-color: #f0ad4e;
	display: inline-block;
	margin: 10px;
	color: #FFF;
	font-size: 70px;
	font-weight: bold;
	text-align: center;
}

.container {
	text-align: center;
	margin-top: 40px;
}

button {
	min-width: 300px;
}