<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="SuiteOne" >


    <test name="MS TEST">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ms.com.assesment.msCucumberTest.MSRunnerTest"/>
        </classes>
    </test>


</suite>
